<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="beltranc" sortOrder="10" translate="label">
            <label>BeltranC</label>
        </tab>
        <section id="currencyexchange" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Currency Exchange</label>
            <tab>beltranc</tab>
            <resource>BeltranC_CurrencyExchange::currencyexchange_configuration</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General Configuration</label>
                <field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enable</label>
                    <comment>Select Yes to enable this module</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="endpoint" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>EndPoint</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="token" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Token</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="type_token" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="select">
                    <label>Type Token</label>
                    <comment>Select your type token</comment>
                    <source_model>BeltranC\CurrencyExchange\Model\Config\Source\TypeToken</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
